:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: color 150ms var(--timing-function),
    background-color 150ms var(--timing-function);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.btn {
  width: 100px;
  height: 70px;
  border-radius: 10%;
  border: 3px solid gainsboro;
  font-size: large;
  cursor: pointer;
}

.start {
  margin-right: 10px;
}

.stop {
  background-color: red;
}
